*

body{
 /* box-sizing:border-box; */
  background-image:url("assets/freedom.jpg");
  background-repeat:no-repeat;  
  background-size:cover;
  text-align:center;
  height:100vh;
} 
img{
  width:100%;
  height:auto;
}
.main-title{
  font-family:"Advent Pro";
  margin:4vw 2vw;
  text-transform:uppercase;  
  font-size:4.5vw;
  letter-spacing:0.2vw;  
}

.paragraph{
  text-align:center;
  font-style:italic;
  font-size: 1.5vw;  
}

.languages{
  margin-top:40%;
  
}

.mother-tongues{
  text-align:center;
  font-size:4.vw;  
}

a{
  background-color:black;
  color: silver;
  font-size:1.5vw;  
  margin:7px;
  padding:5px 10px;
  border-radius:5px;  
}
a:hover{
  text-decoration:none;
  font-size:17px;
  
}

button{
  background-color:green;
  height:3px;
  box-shadow:0 0 14px blue;
 
}











}